 fluxo_node_red.json
[
  {
    "id": "mqttInputTemp",
    "type": "mqtt in",
    "z": "main_flow",
    "name": "Receber Temperatura",
    "topic": "projeto/temperatura",
    "qos": "0",
    "broker": "mqttBroker",
    "x": 150,
    "y": 60,
    "wires": [["tempChart"]]
  },
  {
    "id": "mqttInputHum",
    "type": "mqtt in",
    "z": "main_flow",
    "name": "Receber Umidade",
    "topic": "projeto/umidade",
    "qos": "0",
    "broker": "mqttBroker",
    "x": 150,
    "y": 120,
    "wires": [["humChart"]]
  },
  {
    "id": "mqttInputCommand",
    "type": "mqtt in",
    "z": "main_flow",
    "name": "Receber Comando",
    "topic": "projeto/comando",
    "qos": "0",
    "broker": "mqttBroker",
    "x": 150,
    "y": 180,
    "wires": [["commandDebug"]]
  },
  {
    "id": "tempChart",
    "type": "ui_chart",
    "z": "main_flow",
    "name": "Gráfico Temperatura",
    "group": "dashboardGroup",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Temperatura (°C)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aguardando dados...",
    "ymin": "0",
    "ymax": "50",
    "removeOlder": "60",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#1f77b4"],
    "useOldStyle": false,
    "outputs": 1,
    "x": 350,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "humChart",
    "type": "ui_chart",
    "z": "main_flow",
    "name": "Gráfico Umidade",
    "group": "dashboardGroup",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "Umidade (%)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aguardando dados...",
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "60",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#ff7f0e"],
    "useOldStyle": false,
    "outputs": 1,
    "x": 350,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "commandDebug",
    "type": "debug",
    "z": "main_flow",
    "name": "Debug Comandos",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 350,
    "y": 180,
    "wires": []
  },
  {
    "id": "buttonOn",
    "type": "ui_button",
    "z": "main_flow",
    "name": "Ligar Dispositivos",
    "group": "dashboardGroup",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "Ligar",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "ligar",
    "payloadType": "str",
    "topic": "",
    "x": 150,
    "y": 240,
    "wires": [["mqttOutCommand"]]
  },
  {
    "id": "buttonOff",
    "type": "ui_button",
    "z": "main_flow",
    "name": "Desligar Dispositivos",
    "group": "dashboardGroup",
    "order": 4,
    "width": 0,
    "height": 0,
    "label": "Desligar",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "desligar",
    "payloadType": "str",
    "topic": "",
    "x": 150,
    "y": 300,
    "wires": [["mqttOutCommand"]]
  },
  {
    "id": "mqttOutCommand",
    "type": "mqtt out",
    "z": "main_flow",
    "name": "Enviar Comando",
    "topic": "projeto/comando",
    "qos": "0",
    "retain": "false",
    "broker": "mqttBroker",
    "x": 300,
    "y": 270,
    "wires": []
  },
  {
    "id": "dashboardGroup",
    "type": "ui_group",
    "name": "Controle IoT",
    "tab": "dashboardTab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "dashboardTab",
    "type": "ui_tab",
    "name": "Dashboard",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "mqttBroker",
    "type": "mqtt-broker",
    "name": "HiveMQ Broker",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]